@import "tailwindcss";

/* CircularGallery */
.circular-gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;
}

.circular-gallery:active {
    cursor: grabbing;
}

/* CVLayout Drag */
.drag-handle {
    opacity: 0;
    transition: opacity 0.2s;
}

.group:hover .drag-handle {
    opacity: 1;
}

/* Add|Del Button */
.delbutton {
    opacity: 0;
    transition: opacity 0.2s;
}

.item:hover .delbutton {
    opacity: 1;
}


/* Print */
@media print {

    body * {
        visibility: hidden;
        overflow: hidden !important;
    }

    #resume_print,
    #resume_print * {
        visibility: visible;
        overflow: visible !important;
    }

    #resume_print {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
        background-color: white !important;
    }

    img.rounded-4xl {
        border-radius: 2rem !important;
        overflow: visible !important;
        clip-path: inset(0 round 2rem);
    }
}