@import "tailwindcss";

/* CircularGallery */
.circular-gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;
}

.circular-gallery:active {
    cursor: grabbing;
}

/* CVLayout Drag */
.drag-handle {
    opacity: 0;
    transition: opacity 0.2s;
}

.group:hover .drag-handle {
    opacity: 1;
}

/* Add|Del Button */
.delbutton {
    opacity: 0;
    transition: opacity 0.2s;
}

.item:hover .delbutton {
    opacity: 1;
}